-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- comment = hash[:comment]
- person = hash[:person]
%li.comment{:data=>{:guid=>comment.id}, :class => ("hidden" if(defined? hidden))}
  /=person_image_link(person)
  .from
    =person_link(person)
  = markdownify(comment.text, :youtube_maps => comment[:youtube_titles])

